 * {
    margin: 0;
    padding: 0;
 }
body {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}


main{
    width: 800px;
    max-width: 800px;
    height: 100vh;;
}

#game-intro{
    position:relative;
}

.background-img{
    position: absolute;
    z-index: -1;
    width: 800px;
}

#start-button{
    position: absolute;
    top: 110px;
    left: 35%
}

#intro-button{
    position: absolute;
    top: 50px;
    left: 35%
}


#introduction{
    display: none;
    font-style: italic;
    font-size: 10px;
    position: absolute;
    top: 100px;
    left: 60%;
    width: 200px;
}

#game-container {
    display: none;
    position: relative;
}


#gui{
    position: absolute;
    top : 10px;
    left: 5px;
}

.game-img{
    position: absolute;
   
    /* width: 100%; */
    height: 100%;
    overflow: hidden;  /* Prevent scrolling */
    /* max-width: 100%; */
    max-height: 100%;
    display: block;
    margin: auto; /* Center the image horizontally */

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.sky {
    z-index: -2;
    top:0;
    height: 45%;
}

.ground-top {
    z-index: -1;
    top: 200px;
    height: 33%;
}

.ground-bottom {
    z-index: 0;
    height: 33%;
    top: 400px;
}

#game-screen {
    display: none;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }


body button {
    font-size: 15px;
    background-color: #103836;
    color: #fff;
    padding: 15px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}


  