 * {
    margin: 0;
    padding: 0;
 }
body {
    /* height: 100vh; */
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}


main{
    width: 800px;
    max-width: 800px; 
    height: 100vh;
    /* margin-top: 10%; */
    overflow: hidden;
}

#game-intro{
    position:relative;
    margin-top: 30%;
    
}


.background-img{
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50%; */
    position: absolute;
    z-index: -1;
    width: 800px;
    height: 400px;

}

#start-button{
    position: absolute;
    top: 110px;
    left: 35%
}

#intro-button{
    position: absolute;
    top: 50px;
    left: 35%
}
#sound-button{
    position: absolute;
    top: 170px;
    left: 35%
}


#introduction{
    display: none;
    font-style: italic;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 60%;
    width: 200px;
    outline: 2px solid #CCC;
    border: 2px solid #371e05;
       
       background-color: #dd9e29;
}

#game-container {
    display: none;
    position: relative;
}


#gui{
    position: absolute;
    top : 10px;
    left: 5px;
    border: 2px solid #371e05;
}

.game-img{
    position: absolute;
   
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;  /* Prevent scrolling */
    /* max-width: 100%; */
    /* max-height: 100%; */
    display: block;
    margin: auto; /* Center the image horizontally */

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.sky {
    z-index: -2;
    top:0;
    height: 230px;
}

.ground-top {
    z-index: -1;
    top: 140px;
    height: 320px;
}

.ground-bottom {
    z-index: 0;
    height: 300px;
    top: 400px;
}

#game-screen {
    display: none;
    /* overflow: hidden; */
    position: relative;
    height: 800px;
    width: 800px;
}
#gameOver-img{
    /* display: none; */
    z-index: -2;
    /* position: absolute; */
    height: 800px;
    width: 800px;

}
#tryAgain{
    display: none;
    font-size: 20px;
}
#game-end {
    display: none;
    overflow: hidden;
    height: 800px;
    width: 800px;
    background-size: cover;
    background-image: url('../images/gameOver.png');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

body button {
    font-size: 15px;
    background-color: #103836;
    color: #fff;
    padding: 15px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

body button:hover {
    background-color: rgb(130, 200, 44);
}

body button:active {
    background-color: rgb(11, 113, 47);
}

#showResult{
    font-size: 100px;
    background-color: #154d3d;
    color: #fff;
    border-radius: 5px;
    padding: 16px;
    /* position: absolute; */
}
#playerFinalScore{
    font-size: 30px;
    /* position: absolute; */
    background-color: #228267;
    top: 340px;
    left: 260px;

}
#playerLastScores{
    position: absolute;
    width: 200px;
    height: 100px;
    display: block;
    left: 100px;
    top: 300px;
      
}
#best-score-table{
    /* position: absolute; */
    table-layout: fixed;
    border : 3px solid #044404;
    left: 320px;
    top: 400px;
    align-content:flex-end;
}


  